.picture-for-area {
    height: 105px;
    border-radius: 50%;
}

.picture-area {
    width: 100px;
    height: 100px;
    background-size: cover;
    border-radius: 50%;
    left: 25px;
}

.name-area {
    font-weight: bold;
    margin-top: 8%;
    font-size: 27px;
}

.description-area {
    font-size: 15px;
}

.modal-pics {
    max-width:150px;
}