@media only screen and (max-width: 415px) {
    #water {
        top: 291px;
    }
    #clouds {
        width: 414px;
    }
    ul#browse {
        position: absolute;
        top: 83px;
        left: 5px;
    }
    .logo{
        left: 160px;
        position: absolute;
        top: 20px;
    }
    #btn{
        top: 181px;
        position: absolute;
        left: 111px;
        width: 196px;
    }
  }