.curve {
    width: 20px;
    background: #DCA123;
    height: 25px;
    position: relative;
    top: -25px;
    border-radius: 50%;
    z-index: -1;
    left: -13px;
}

.def {
    height: 25px;
    background: white;
    border: 1px solid #DCA123;
}

.tick {
    color: #DCA123;
}

.cross {
    background-color: lightgray;
    border: 1px solid darkgrey;
}

.marbtn {
    margin: 10px;
}