.dancodeslogo {
    width: 180px;
    text-align: center;
    justify-content: center;
    justify-items: center;
    margin-left: auto;
    margin-right: auto;
    height: 180px;
    border: 3px solid black;
    border-radius: 100%;
    margin-bottom: 25px;
}

.sitemargins {
    margin: 15px;
}